<% if @books.present? %>
  <ul>
    <%= render @books %>
  </ul>
<% else %>
  <h2>Add your first book</h2>
  <%= render('form', {book: Book.new})%>
<% end %>


<%= link_to "Add a book", new_book_path %>